.container {
  text-align: center;
  padding-bottom: 15px;
}

.question {
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 80px;
}
#choiceEl{
  display:block;
}
.quizChoice {
  height: 60px;
  padding:5px;
  font-size: 25px;
  margin: 5px;
  margin-top:15px;
}
.btn{background-color:#efcb68;}
.btn:focus{
  outline:0;
  background-color: #efcb68;
}
.btn:hover{
  background-color: #efcb68;
}
.wrong{
  background-color: red;
}
.wrong:hover{
  background-color: red;
}
.wrong:focus{
  background-color: red;
}
.penalty{
  background-color: grey;
}
.penalty:hover{
  background-color: grey;
}
.penalty:focus{
  background-color: grey;
}