body {
    background-color: rgb(240, 240, 197)
}

.container {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}