/* body {
  background-color: rgb(240, 240, 197);
} */

.container {
  background-color: #e1efe6;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  margin-top: 30px;
  padding: 30px;
}

.page-btn {
  font-size: 24px;
  width: 200px;
  color: white;
  background-color: #efcb68;
  padding:5px;
}
.page-btn:hover{
  background-color: #efcb68;
}
.page-btn:focus{
  background-color: #efcb68;
}

.page-btn:hover,.sq-btn:hover {
  box-shadow: 0 0 11px rgba(33,33,33,33); 
}

.sq-btn {
  font-size: 24px;
  width: 300px;
  margin: 3px;
  border-radius: 5px;
  color: white;
  background-color: #efcb68;
  padding:5px;
}
.sq-btn:focus{
 background-color:#efcb68;
}
.sq-btn:hover{
  background-color:#efcb68;
}

h1,h2{
  font-size:40px;
}

#deleteBtnEl{
  /* border-color:white; */
}

.btn-danger {
  font-size: 24px;
  border-radius: 5px;
  width: 200px;
  color: white;
  background-color: red;
  padding:5px;
  margin-top: 10px;
}

