.table {
  margin: auto;
}

td,
th {
  height: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 3px;
  text-align:center;
}

th {
  background-color: #26a69a;
  color: white;
}

.quizNameCol {
  width: 150px;
}

.scoreCol {
  width: 30px;
}

table {
  width: 100%;
  margin: 0 auto;
}

#deleteBtnEl{
  border:0px solid #808080;
  /* border-color:none; */
}